doctype html
html(lang="en")
  head
    title
      | CDC Flu View
      
    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/highmaps/highmaps.js')
    script(src='/javascripts/highmaps/data.js')
    script(src='//code.highcharts.com/mapdata/countries/us/us-all.js')
    script(src='/javascripts/cdc_flu_view.js')

  body
    #cdc_flu_view(style='width: 100%; height: 100%;')

    script(type='text/javascript'). 
      $(function () {
        $('#cdc_flu_view').height($(window).height() - 30);
        collection = !{JSON.stringify(collection)}
        current_index = collection.length - 1
        drawMap(collection[current_index].title, collection[current_index].data);
      });

      $(window).resize(function(){
        $('#cdc_flu_view').height($(window).height() - 30);
      });